* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logout {
    display: flex;
    float: right;
    margin-top: -15px;
    align-items: right;
}

.logout button {
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 10px 10px;
    transition: 1s all ease-in-out;
}

.logout button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.order {
    display: flex;
    float: center;
    margin-top: -5px;
    align-items: center;
}

.order button {
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 10px 10px;
    transition: 1s all ease-in-out;
}

.order button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.logistics_status button {
    width: 100%;
    cursor: pointer;
}

.accept {
    background-color: rgb(5, 115, 5);
}

.modalButton {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 12px 24px;
}


/* Modal */

.popup-content {
    background: none;
    border: none;
}

.modal {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #faf2f2;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 10px;
    z-index: 999;
}

.modalRight {
    width: 100%;
    padding: 15px 15px;
}

.closeBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: black;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.btnContainer {
    display: flex;
    padding: 1rem 1.4rem;
}

.btnContainer button {
    width: 100%;
    margin: 0.5rem;
    padding: 10px 0;
}

.btnPrimary {
    background-color: green;
    color: white;
    padding: 8px 8px;
    margin-top: 20px;
    border: none;
    outline: none;
}

.btnOutline {
    /* background-color: #a76a99; */
    background-color: white;
    color: green;
    padding: 8px 8px;
    margin-top: 20px;
    border: 0.5px solid green;
    outline: none;
}

.bold {
    font-weight: 600;
}

.coal_req_buttons {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .modalContainer {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }
    .heading {
        margin: 1rem;
    }
}

.btn__request {
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 10px 10px;
    transition: 1s all ease-in-out;
    width: 100%;
}

.btn__request:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.btn__modal {
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    border: none;
    outline: none;
    text-decoration: underline;
}

.mod_text {
    text-align: justify;
}

.logistics_status {
    color: green;
}

.btnPrimary {
    cursor: pointer;
}

.btnOutline {
    cursor: pointer;
}

.input__plant {
    width: 50%;
    padding: 10px 10px;
    border: none;
    outline: none;
}

.input_fields {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navbar__portal {
    width: 100%;
    background-color: bisque;
}

.popup-content {
    border-radius: 5px;
    padding: 0.5rem;
}

.updated {
    background-color: rgb(174, 224, 174);
}

.carousel-control-next {
    right: 0px;
    top: 410px;
    color: black;
    position: absolute;
    background-color: rgb(184, 207, 184);
    padding: 20px 20px;
}

.carousel-control-prev {
    left: 0px;
    top: 410px;
    position: absolute;
    color: black;
    background-color: rgb(184, 207, 184);
    padding: 20px 20px;
}

.charts {
    display: flex;
    justify-content: right;
}