* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logout {
  display: flex;
  float: right;
  margin-top: -15px;
  align-items: right;
}

.logout button {
  background: black;
  color: white;
  border: none;
  outline: none;
  padding: 10px 10px;
  transition: 1s all ease-in-out;
}

.logout button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.order {
  display: flex;
  float: center;
  margin-top: -5px;
  align-items: center;
}

.order button {
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  outline: none;
  padding: 10px 10px;
  transition: 1s all ease-in-out;
}

.order button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.logistics_status {
  display: flex;
  justify-content: space-around;
}

.logistics_status button {
  width: 120px;
}

.accept {
  background-color: rgb(5, 115, 5);
}

.reject {
  background-color: rgb(155, 17, 17);
}
